<!-- Partials can break out ejs files into smaller files to import in other files -->
<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/signup">Sign up!</a></li>
            <li><a href="/about">About the homegroup</a></li>
        </ul>
    </nav>
</header>