  <div class="card-deck">
    <div class="card">
      <div style="width: 50%; height: 50%; margin: auto; padding-top: 2%">
        <img src="adam_pic.png" class="card-img-top" alt="adam photo">
      </div>
      <div class="card-body">
        <h5 class="card-title">Adam Chois</h5>
        <p class="card-text">Hi there! I’m a 4th year Bioengineering major planning to go into a career in Software Engineering. I am really excited to see what the Lord has in store for us and how all of us can shoulder the idea of carrying each others’ burdens in Galatians 6:2. I love exercising, playing smash, trying new foods and figuring out how to make them, and spending time with good company. This semester, I hope that Ryan and I can make all of you feel comfortable and experience the sense of family that we both have found here at Living Water. I am always here if any of you need to talk about anything whether it be faith, academics, struggles, or celebrations. I hope to see you all soon!</p>
        <p class="card-text"><small class="text-muted">engineerdragon01@berkeley.edu</small></p>
        <form action="https://www.facebook.com/adam.chois" target="_blank">
            <input type="submit" value="Send me a message on Facebook!" />
        </form>
      </div>
    </div>
    <div class="card">
      <div style="width: 50%; height: 50%; margin: auto; padding-top: 2%;">
        <img src="ryan_pic.png" class="card-img-top" alt="ryan photo">
      </div>
      <div class="card-body">
        <h5 class="card-title">Ryan Hu</h5>
        <p class="card-text">Hello! I'm old. I graduated this past year as a Computer Science major and currently work as a Software Engineer at Google. I currently live in South Bay (don't worry, I'll be commuting so we can have our in person homegroups!), and I've been in Livingwater for the past 2 years. I'm really excited to be leading the College Men's Homegroup alongside Adam this year. My vision is that this will be a space where we can learn and grow in our faith and talk about the important questions in life. This homegroup also isn't only just for Christians. If you aren't Christian or if you want to invite non-Christian friends to come with, feel free to attend! I became Christian in college, and I'd implore you to invest one semester into this. I can't promise it'll be worth it, but, hey, I'll try my best!</p>
        <p class="card-text"><small class="text-muted">ryanhu22@berkeley.edu</small></p>
        <form action="https://www.facebook.com/ryan.hu.5496" target="_blank">
            <input type="submit" value="Send me a message on Facebook!" />
        </form>
      </div>
    </div>
  </div>
