<link href="/stylesheets/about.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/stylesheets/index.css">

<h2>Welcome to Livingwater Pursuit Men's College Homegroup</h2>
<div style="width:480px"><iframe frameBorder="0" height="180" src="https://giphy.com/embed/MEdRTaYvZBlVMEjwZ3/video" width="192"></iframe></div>
<p>For the freshmen and transfer students, welcome to Cal! For everyone else, we hope you had a good summer break. We made this website because, why not (maybe we have too much time on our hands). Anyway, if you're interested in checking out this homegroup, please fill in the Google Form down below. There's also an "About us" tab above that you can check out to learn more about who we are and what have envisioned for this homegroup.</p>

<div class="card text-center">
    <div class="card-header">
        <b>Monday, August 29 from 7-9pm</b>
    </div>
    <div class="card-body">
      <h5 class="card-title">Location: Upper Room (2470 Telegraph Ave, Gate Code: *020880)</h5>
      <p class="card-text">Come join us for our first homegroup on Monday, August 29 from 7-9pm. Please make sure to fill out the RSVP down below so that we can get an accurate headcount</p>
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdtf1xoKEL0Ri8RiwrnweQWdqXgyWcEWPZUMY0cObtj4bBlqg/viewform?usp=sf_link"><img src="google_form.webp" width="45px"><p>RSVP via Google Form</p></a>
      
    <!-- <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NnBrM3RtdHF2dXAwczhlODVhbjgxa2wxcDYgcnJ5YW5odXVAbQ&amp;tmsrc=rryanhuu%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a> -->
    </div>

  </div>


  <h2 class="faq-heading">Questions that you may have:</h1>
  <section class="faq-container">
      <div class="faq-one">
          <!-- faq question -->
          <h1 class="faq-page">What is a "homegroup"?</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>Acts 2: 42-46: <i>"And they devoted themselves to the apostles' teaching and the fellowship, to the breaking of bread and the prayers. And awe came upon every soul, and many wonders and signs were being done through the apostles. And all who believed were together and had all things in common. And they were selling their possessions and belongings and distributing the proceeds to all, as any had need. And day by day, attending the temple together and breaking bread in their homes, they received their food with glad and generous hearts, praising God and having favor with all the people."</i></p>
              <p>Homegroup is a time and place where we can gather to learn more deeply about God and live out Christian life together. Oftentimes, in homegroup, people study the Bible, pray, worship through music together, and make meaningful relationships with one another. What will we do in this homegroup? Well, it's up all of us! We're all coming from different walks in our faith, so there is no one size fits all policy. We'll figure it out together and see what works and what doesn't. But, God will be the center of it all. We will live life together, have meaningful conversations, share what's going on in our lives, and love God together! If this interests you, click that sign up form above, and one of the homegroup leaders will reach out to you.</p>
          </div>
      </div>
      <hr class="hr-line">
      <div class="faq-two">
          <!-- faq question -->
          <h1 class="faq-page">Do I need to be Christian in order to attend?</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>Definitely not! We have our doors open to everybody. When I (Ryan) was a non-Christian in college, I would attend church and feel so intimidated by the fact that I did not know anything about Christianity (all I knew was that there is this guy named Jesus involved with this whole thing, and even then, I didn't know anything about him). Adam and I will make this homegroup a place where non-Christians can learn about what Christianity is about and what Christianity teaches and for Christians to learn to love God and one another more deeply. If you're not Christian, I would encourage to come check out what we have to offer, at least just for one Monday evening! After all, it's no commitment, and you can leave anytime.</p>
          </div>
      </div>
      <hr class="hr-line">
      <div class="faq-three">
          <!-- faq question -->
          <h1 class="faq-page">I have a question you didn't answer.</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>I really wish I could read minds...</p>
              <p>No, really, but you can reach to either one of the homegroup leaders!</p>
              <p>Adam Chois: (916) 690-xxxx</p>
              <p>Ryan Hu: (626) 862-8312</p> 
          </div>
      </div>
  </section>